.Register
{
    background: linear-gradient(#48cae4, #0077b6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.Register_container
{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.Register_container-form
{
    display: flex;
    flex-direction: column;
}
.Register_container-form label
{
    font-size: 14px;
}
.Register_container-register
{
    font-size: 14px;

}
.Register_container-register
{
    text-align: center;
}
.Register_container-register a
{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.Register_container-register a:hover
{
    text-decoration: underline;
}
