.main
{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
}
.main_title
{
    color: white;
    font-size: 25px;
}
.input
{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid whitesmoke;
    border-radius: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
}
::placeholder
{
    color: white;
}