@media only screen and (max-width: 600px) {
    .login_container {
      background-color: transparent;
      border: none;
      padding: 0px;
      width: 100%;
    }
  
    .footer {
      align-items: flex-start;
      flex-direction: column;
    }
  }